.header {
  align-items: center;
  display: flex;
  background-color: var(--gray-700);
  justify-content: center;
  padding: 4.5rem 0 5rem;
}

.header__title {
  font-size: var(--xl);
  margin-left: 0.75rem;
}

.header__title span:nth-child(1) {
  color: var(--blue-400);
}
.header__title span:nth-child(2) {
  color: var(--purple-500);
}
