.taskList {
  width: 100%;
  max-width: 46rem;
  margin-inline: auto;
}

.taskList__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskList__header h2 {
  font-size: var(--md);
}

.taskList__header h2 span {
  background-color: var(--gray-400);
  border-radius: 999px;
  color: var(--gray-200);
  font-size: var(--sm);
  padding-inline: 0.5rem;
}

.taskList__header h2:nth-child(1) {
  color: var(--blue-400);
}
.taskList__header h2:nth-child(2) {
  color: var(--purple-400);
}

.taskList__board {
  padding: 4rem;
  margin-top: 2rem;
  min-height: 15.25rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.taskList__board--noTask {
  align-items: center;
  display: flex;
  background-image: url(../assets/clipboard.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 3.5rem;
  justify-content: center;
  min-height: 15.25rem;
  text-align: center;
}

.taskList__board--noTask p {
  color: var(--gray-300);
  font-weight: 700;
}

.taskList__board--noTask p span {
  color: var(--gray-400);
  font-weight: 400;
}
