.taskList {
  width: 100%;
  max-width: 46rem;
  margin-inline: auto;
}

.taskList__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskList__header h2 {
  font-size: var(--md);
}

.taskList__header h2 span {
  background-color: var(--gray-400);
  border-radius: 999px;
  color: var(--gray-200);
  font-size: var(--sm);
  padding-inline: 0.5rem;
}

.taskList__header h2:nth-child(1) {
  color: var(--blue-400);
}
.taskList__header h2:nth-child(2) {
  color: var(--purple-400);
}

.taskList__board {
  margin-top: 2rem;
  min-height: 15.25rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.taskList__board--noTask {
  margin-top: 4rem;
  align-items: center;
  display: flex;
  background-image: url(../assets/clipboard.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 3.5rem;
  justify-content: center;
  min-height: 15.25rem;
  text-align: center;
}

.taskList__board--noTask p {
  color: var(--gray-300);
  font-weight: 700;
}

.taskList__board--noTask p span {
  color: var(--gray-400);
  font-weight: 400;
}

.todoItem {
  list-style-type: none;
  border-radius: 8px;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  width: 100%;
  padding: 1rem;
  color: var(--gray-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

li + li {
  margin-top: 0.75rem;
}

.todoItem__checkbox {
  height: 1rem;
  width: 1rem;
  border: 2px solid var(--blue-400);
  border-radius: 100%;
  background-color: inherit;
}

.todoItem__checkbox input {
  appearance: none;
}

.todoItem__checkbox:hover {
  border-color: var(--blue-700);
}

.todoItem__checkbox input:checked {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--purple-500);
  background-image: url(../assets/checkmark.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  border: 2px solid var(--purple-500);
}

.todoItem__checkbox input:checked:hover {
  background-color: var(--purple-400);
  border: 2px solid var(--purple-400);
}

.todoTitle {
  width: calc(100% - 2rem);
}

.todoTitle--isDone {
  width: calc(100% - 2rem);
  text-decoration: line-through;
}

.todoItem button {
  background-color: transparent;
  border: none;
  padding: 0.2rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoItem button:hover {
  background-color: var(--gray-400);
}

.todoItem button svg {
  padding: 0.2rem;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  color: var(--gray-300);
  transition: all 0.2s;
}

.todoItem button:hover svg {
  color: var(--red-400);
}
