:root {
  --purple-400: #8284fa;
  --purple-500: #5e60ce;

  --blue-400: #4ea8de;
  --blue-700: #1e6f9f;

  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;

  --red-400: #e25858;

  --sm: 0.8rem;
  --md: 0.9rem;
  --base: 1rem;
  --lg: 2rem;
  --xl: 2.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  line-height: 1.4px;
}
